<!--Laws and company policy determine these settings-->
<!--These options are in place to make healthcare communication faster-->
<h3 class="display-5">Data Sharing Permission</h1>
<p>LHIN &harr; Outpatient Clinic: status <span class="on">ON</span></p>
<p>AMGH &harr; Outpatient Clinic: status <span class="off">OFF</span></p>
<p>Contact IT Support to change permissions</p>

<h3 class="display-5">Data Creation Structure</h1>
<p>Nurse Manager adds new patient <span class="on">ON</span></p>
<p>LHIN adds new patient <span class="off">OFF</span></p>
<p class="demo">Note: this is a demo view, data is not actually being transferred.</p>

