<!--Real issue with finding relevant contact information; Modifiable for local needs -->
<!--Real issue teaching new staff who to call if issue-->
<!--Possible communication additions: Discord (messaging)--> 
<div class="infoDisplay">
    <div class="infoBox">
    <h1 class="display-4">IT Support</h1>
    <h3>Patient Chart Online&trade;</h3>
    <p>Number: 647-571-8212</p>
    <p>Email: alivesoftware117@gmail.com</p>
    <p>Contact for access issues,  site modification, etc.</p>
    </div>

    <!--LHIN; Care-coordination should have access to this site's information-->
    <div class="infoBox">
    <h1 class="display-4">Local Area Health Network</h1> 
    <h3>South West LHIN</h3>
    <p>Number: 1-800-811-5141</p>
    <p>Fax: 519-472-4041</p>
    <p>Email: SWAccessIandR@hccontario.ca</p>
    <p>Outpatient referrals, outpatient Care Coordinator communication</p>
    </div>

    <!-- Outpatient Pharmacy #-->
    <div class="infoBox">
    <h1 class="display-4">Pharmacy</h1>
    <h3>Yurek Specialties Ltd</h3>
    <p>Phone: 1-866-631-3331</p>
    <p>Prepared solution inquiries (Expiry, concentration, changed Rx order questions)</p><br>
    <h3>Brown Pharmacy</h3>
    <p>Phone: (519) 881-2421</p>
    <p>Distribution inquiries (ie. When is it getting here)</p>
    </div>

    <!-- Local Health Care Centers-->
    <div class="infoBox">
    <h1 class="display-5">Health Care Centers</h1> <!--Local Hospital #-->
    <h3>Alexandra Marine and General Hospital (AMGH)</h3>
    <p>Phone: (519) 524-8689 ext. 5712</p>
    <p>Fax: (519) 524-8504</p><br>
    <h3>Clinton Public Hospital</h3>
    <p>Phone: (519) 482-3440 / 1-888-275-1102</p>
    <p>Fax: (519) 482-8762</p>
    </div>

    <!--Rehabilitation Centers, Diabetic/Amputation patient-->
    <div class="infoBox">
    <h1 class="display-5">Rehabilitation</h1> <!--Local Hospital #-->
    <h3>Parkwood Institute (St. Joseph's London)</h3>
    <p>Phone: (519) 646-6101</p>
    <p>Fax: (519) 455-3010</p>
    </div>

    <!--Nurse Practitioner, usually for palliative medication drug order/questions-->
    <!--1,2,3-->
    <!--Nurse Manager-->
    <!--Team Members-->

</div>