{{!icdCode index view}}
<h1 class="display-5">{{title}}</h1>
{{#if user}}
<a class="btn btn-primary" href="/icdCodes/add">Add New ICD Code</a>
{{/if}}

<div id="langDiv">
<table class="table" id="langTable">
  <thead>
    <th>Code</th>
    <th>Description</th>
    <th>Actions</th>
  </thead>
  <tbody>
  {{#each dataset}}
    <tr>
      <td>{{this.code}}</td>
      <td>{{this.description}}</td>
      {{#if ../user}}
        <td>
          <a
            class="btn btn-danger"
            href="/icdCodes/delete/{{this._id}}"
            onclick="return confirmDeletion()"
          >Delete</a>
        </td>
        {{/if}}
    </tr>
  {{/each}}
  </tbody>
</table>
</div>
